<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIKAT6CWm2tp0DZQD4MVXTZo2lrQDam0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>99899272148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-e2110</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-e2110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99899272148:ios:ad0e18ba1efc57181a8441</string>
</dict>
</plist>